{% extends 'base.html' %}

{# TITLE index.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block title %}Buscar{% endblock %}


{# MENU PERSONAL index.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> <!-- class="active" -->
		<li class="active" ><a href="buscar.php">Buscar</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}


{# CABECERA
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block encabezado %}<h2>Filtrar por...</h2>{% endblock %}


{# CONTENIDO
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block content %}


	<!-- FORMULARIO BUSCAR  -->
    <form action="buscar_accion.php" method="post" class="form-horizontal" >
    
	  <div class="form-group">
	    <label for="usu" class="col-sm-2 control-label">Nombre Usuario</label>
	    <div class="col-xs-4">
	      <input type="text" class="form-control" id="usu" name="username" placeholder="Usuario">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="nom" class="col-sm-2 control-label">Nombre Receta</label>
	    <div class="col-xs-4">
	      <input type="text" class="form-control" id="nom" name="nombre_receta" placeholder="Nombre Receta">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="col" class="col-sm-2 control-label">Tipo Receta</label>
	    <div class="col-xs-4">
    		<select name="tipo_receta" class="form-control" id="col" >
    			<option value="ent" selected="selected">Entrante</option>
    			<option value="pri">Primero</option>
    			<option value="seg">Segundo</option>
    			<option value="pos">Postre</option>
    		</select>
	    </div>
	  </div>
	     
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Buscar recetas</button>
	      
	      <a href="index.php">
	      	<button type="button" class="btn btn-default" >Cancelar</button>
      	  </a>
	    </div>
	  </div>
	  
	</form>
	



	
<!-- 	<p><a class="btn btn-primary btn-lg btn-block" href='index.php' role="button">Inicio</a></p> -->

{% endblock %}
