{% extends 'base.html' %}

{# TITLE index.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block title %}Resultado{% endblock %}


{# MENU PERSONAL buscar_resultado.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> <!-- class="active" -->
		<li class="active" ><a href="buscar.php">Buscar</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}


{# CABECERA
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block encabezado %}<h2>Resultado de la busqueda</h2>{% endblock %}


{# CONTENIDO
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block content %}
	  	  
	{% for re in listarecetas %}
	
	<dl class="dl-horizontal">
		<dt>Nombre Usuario:</dt>
		<dd>{{ re.username }}</dd>
		
		<dt>id usuario:</dt>
		<dd>{{ re.id_usuario }}</dd>
		
		<dt>Imagen:</dt>
		<dd><img src="./{{ re.imagen }}" class="img-polaroid" alt="imagen del producto" title="{{ re.nombre_receta }}" alt="{{ re.nombre_receta }}" ></dd>
		
		<dt>Nombre receta:</dt>
		<dd>{{ re.nombre_receta }}</dd>
		
		<dt>Tipo receta:</dt>
		<dd>
			{% if re.tipo_receta == "ent" %} Entrante {% endif %}
			{% if re.tipo_receta == "pri" %} Primero {% endif %}
			{% if re.tipo_receta == "seg" %} Segundo {% endif %}
			{% if re.tipo_receta == "pos" %} Postre {% endif %}				
		</dd>
		
		<dt>Ingredientes:</dt>
		<dd>{{ re.ingredientes }}</dd>
		
		<dt>Elaboración:</dt>
		<dd>{{ re.elaboracion }}</dd>
		
		<dt>Fecha creación:</dt>
		<dd>{{ re.fecha_creacion }}</dd>
		
		<dt>Fecha modificación:</dt>
		<dd>{{ re.fecha_modificacion }}</dd>
		
		<dt>Tiempo de elaboración:</dt>
		<dd>{{ re.tiempo_elaboracion }}</dd>
	</dl>
	<hr>
	{% endfor %}
	
	<p><a class="btn btn-primary btn-lg btn-block" href='index.php' role="button">Inicio</a></p>

{% endblock %}
