{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}


{% block encabezado %}{% endblock %}
{% block menu %}	
	
	<ul class="nav navbar-nav">					
		<li class="active" ><a href="index">Inicio</a></li> 
		<li><a href="buscar">Buscar</a></li>
		<li><a href="recetas_añadir">Añadir receta</a></li>
		<li><a href="recetas_editar">Editar</a></li>
		<li><a href="recetas_eliminar">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Sesion de   <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
			<li><a href="login">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
			<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}

{% block content %}

 	  
	{% for re in listarecetas %}
	
	<dl class="dl-horizontal">
		<dt>Usuario:</dt>
		<dd>{{ re.username }}</dd>
		
		<dt>Foto:</dt>
		<dd><img src="./{{ re.imagen }}" class="img-polaroid" alt="imagen del producto" title="{{ re.nombre_receta }}" alt="{{ re.nombre_receta }}" ></dd>
		
		<dt>Receta:</dt>
		<dd>{{ re.nombre_receta }}</dd>
		
		<dt>Tipo receta:</dt>
		<dd>
			{% if re.tipo_receta == "ent" %} Entrante {% endif %}
			{% if re.tipo_receta == "pri" %} Primero {% endif %}
			{% if re.tipo_receta == "seg" %} Segundo {% endif %}
			{% if re.tipo_receta == "pos" %} Postre {% endif %}				
		</dd>
		
		<dt>Ingredientes:</dt>
		<dd>{{ re.ingredientes }}</dd>
		
		<dt>Elaboración:</dt>
		<dd>{{ re.elaboracion }}</dd>
		
		<dt>Fecha creación:</dt>
		<dd>{{ re.fecha_creacion }}</dd>
		
		<dt>Fecha modificación:</dt>
		<dd>{{ re.fecha_modificacion }}</dd>
		
		<dt>Tiempo de elaboración:</dt>
		<dd>{{ re.tiempo_elaboracion }} hora/s</dd>
	</dl>
	<hr>
	{% endfor %}
	
	

{% endblock %}
