{% extends 'base.html' %}

{# TITLE index.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block title %}Login{% endblock %}


{# MENU PERSONAL 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> <!-- class="active" -->
		<li><a href="buscar.php">Buscar</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}


{# CABECERA
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block encabezado %}<h2>Login</h2>{% endblock %}


{# CONTENIDO
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block content %}

	<!-- FORMULARIO LOGIN  -->
    <form  action="login_accion.php" method="post" class="form-horizontal" role="form">
	    
	  <div class="form-group">
	    <label for="inputUser" class="col-sm-2 control-label">Usuario</label>
	    <div class="col-xs-4">
	      <input name="usuario"  type="text" class="form-control" id="inputUser" placeholder="Usuario">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
	    <div class="col-xs-4">
	      <input name="password" type="text" class="form-control" id="inputPassword" placeholder="Password">
	    </div>
	  </div>
	  
	  <!-- input oculto que recoje el id_receta para poder enviarlo via post y redirigir, despues de validado el usuario, a la receta elejida	   -->
	 <!--  <div class="form-group">
	    <div class="col-xs-4">
	      <input name="idreceta" type="text" class="form-control" id="idreceta" value="{{ idreceta }}" >
	    </div>
	  </div> -->
	
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Verificar</button>
	      
	      <a href="index.php">
	      	<button type="button" class="btn btn-default" >Cancelar</button>
      	  </a>
      	  
	    </div>
	  </div>
	</form>
	
<!-- 	<p>puedes probar con:</p> -->
<!-- 	<p>jose</p> -->
<!-- 	<p>pbkdf2_sha256$12000$XKWWULc6y0eT$yy3zgYP9leIlYTD+fCiUdTn485X5F8wEJTPyuU79mms=</p> -->
		     
		     
		     
{% endblock %}
