{% extends 'base.html' %}

{# TITLE index.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block title %}Editar receta{% endblock %}


{# MENU PERSONAL index.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> <!-- class="active" -->
		<li><a href="buscar.php">Buscar</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li class="active" ><a href="recetas_editar.php">Editar</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}


{# CABECERA
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block encabezado %}<h2>Editar receta</h2>{% endblock %}


{# CONTENIDO
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block content %}
	  	  
<div class="row">
  	<div class="col-md-8">
  
  
	
	<!-- FORMULARIO EDITAR RECETA  -->
	
	{% for re in camposreceta %}
    <form action="recetas_editar_accion1.php" method="post" class="form-horizontal" >

	  <div class="form-group">
	    <label class="col-sm-4 control-label">Nombre Usuario</label>
	    <div class="col-sm-8">
	      <p class="form-control-static">{{ re.username }}</p>
	    </div>
	  </div>
	<!-- INPUT OCULTO PARA PODER ENVIARLO VIA POST -->
	  <div class="">
	    <div class="col-xs-8">
	      <input type="hidden" class="form-control" id="idusu" name="idusu" value="{{ re.usuario_id }}" >
	    </div>
	  </div>
	  
	<!-- INPUT OCULTO PARA PODER ENVIARLO VIA POST -->
	  <div class="">
	    <div class="col-xs-8">
	      <input type="hidden" class="form-control" id="idre" name="idre" value="{{ re.id_receta }}" >
	    </div>
	  </div>
	  
	  
	<!-- INPUT OCULTO PARA PODER ENVIARLO VIA POST -->
	  <div class="form-group">
	    <div class="col-xs-8">
	      <!-- fijo la imagen (para todos la misma hasta que sepa como subir una imagen con php) -->
	      <input type="hidden" class="form-control" id="imagen" name="imagen" value="img/comida.jpg" >
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="nomReceta" class="col-sm-4 control-label">Nombre receta</label>
	    <div class="col-xs-8">
	      <input type="text" class="form-control" id="nomReceta" name="nomReceta" value="{{ re.nombre_receta }}">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label for="col" class="col-sm-4 control-label">Tipo de plato</label>
	    <div class="col-xs-8">
    		<select name="tipoPlato" class="form-control" id="col" >
    			<option value="ent">Entrante</option>
    			<option value="pri">Primero</option>
    			<option value="seg">Segundo</option>
    			<option value="pos">Postre</option>
    		</select>
	    </div>
	  </div>
    
	  <div class="form-group">
	    <label for="ingredientes" class="col-sm-4 control-label">Ingredientes</label>
	    <div class="col-xs-8">
	    	<textarea class="form-control" rows="5" id="ingredientes" name="ingredientes" >{{ re.ingredientes }}</textarea>
	    </div>
	  </div>
    
	  <div class="form-group">
	    <label for="elaboracion" class="col-sm-4 control-label">Elaboración</label>
	    <div class="col-xs-8">
	    	<textarea class="form-control" rows="5" id="elaboracion" name="elaboracion" >{{ re.elaboracion }}</textarea>
	    </div>
	  </div>
	  	     
	  	     
	  <div class="form-group">
	    <label class="col-sm-4 control-label">Fecha creación</label>
	    <div class="col-sm-8">
	      <p class="form-control-static">{{ re.fecha_creacion }}</p>
	    </div>
	  </div>
	 <!-- INPUT OCULTO PARA PODER ENVIARLO VIA POST -->
	  <div class="form-group">
	    <div class="col-xs-8">
	      <input type="hidden" class="form-control" id="fechaCre" name="fechaCre" value="{{ re.fecha_creacion }}" >
	    </div>
	  </div>
	  
	  
	  <div class="form-group">
	    <label class="col-sm-4 control-label">Fecha Modificación</label>
	    <div class="col-sm-8">
	      <!-- en receta nueva, fechaCreacion y fechaModificacion son la misma -->
	      <p class="form-control-static">{{ fechaActual }}</p>
	    </div>
	  </div>
	 <!-- INPUT OCULTO PARA PODER ENVIARLO VIA POST -->
	  <div class="form-group">
	    <div class="col-xs-8">
	      <input type="hidden" class="form-control" id="fechaMod" name="fechaMod" value="{{ fechaActual }}" >
	    </div>
	  </div>
	     
	  
	  <div class="form-group">
	    <label for="tiempo" class="col-sm-4 control-label">Tiempo Elaboración</label>
	    <div class="col-xs-8">
    		<select name="tiempo" class="form-control" id="tiempo" >
    			<option value="1">1 hora</option>
    			<option value="2">2 horas</option>
    			<option value="3">3 horas</option>
    			<option value="4">4 horas</option>
    		</select>
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-offset-4 col-sm-10">
	      <button type="submit" class="btn btn-default">Modificar Receta</button>
	      
	      <a href="index.php">
	      	<button type="button" class="btn btn-default" >Cancelar</button>
      	  </a>
	    </div>
	  </div>
	  
	</form>
	{% endfor %}
	




  
  	</div>
</div>

{% endblock %}


