{% extends 'base.html' %}

{# TITLE index.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block title %}Nueva receta{% endblock %}


{# MENU PERSONAL index.html
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> <!-- class="active" -->
		<li><a href="buscar.php">Buscar</a></li>
		<li class="active" ><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar</a></li>
		<li><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}


{# CABECERA
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block encabezado %}<h2>Aviso receta</h2>{% endblock %}


{# CONTENIDO
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block content %}
	  	  
		<div class="jumbotron">
			<h3>Felicidades !! Operación realizada con exito</h3>
			<a href="index.php">ir a Inicio</a>
		</div>

{% endblock %}


