{% extends 'base.html' %}

{# TITLE 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block title %}Eliminar receta{% endblock %}


{# MENU PERSONAL 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block menu %}	
	
	<ul class="nav navbar-nav">
		<li><a href="index.php">Inicio</a></li> <!-- class="active" -->
		<li><a href="buscar.php">Buscar</a></li>
		<li><a href="recetas_añadir.php">Añadir receta</a></li>
		<li><a href="recetas_editar.php">Editar</a></li>
		<li class="active" ><a href="recetas_eliminar.php">Eliminar</a></li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
		<li><p class="navbar-text">Bienvenido  <strong>'{{ userSession }}'</strong></p></li>
		
		{% if userSession == 'invitado' %}
		<li><a href="login.php">login</a></li>
		{% endif %}
		
		{% if userSession != 'invitado' %}
		<li><a href="logout.php">logout</a></li>
		{% endif %}
	</ul>
{% endblock %}


{# CABECERA
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block encabezado %}<h2>Selecciona la receta a Eliminar</h2>{% endblock %}


{# CONTENIDO
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ #}
{% block content %}
	  	  
	
	
   	<table class="table">
      <thead>
        <tr>
          <th>Id Receta</th>
          <th>Nombre Receta</th>
          <th>Tipo receta</th>
          <th>Usuario</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
      	{% for re in listarecetas %}
        <tr>
			<td>{{ re.id_receta }}</td>
			<td>{{ re.nombre_receta }}</td>
			<td>
				{% if re.tipo_receta == "ent" %} Entrante {% endif %}
				{% if re.tipo_receta == "pri" %} Primero {% endif %}
				{% if re.tipo_receta == "seg" %} Segundo {% endif %}
				{% if re.tipo_receta == "pos" %} Postre {% endif %}
			</td>
			<td>{{ re.username }}</td>
			<td><a class="btn btn-danger" href="./recetas_eliminar_accion.php?id_receta={{ re.id_receta }}" role="button">Eliminar</a></td>
			<td><a class="btn btn-default" href="index.php" role="button">ir a Inicio</a></td>        
        </tr>
		{% endfor %}
      </tbody>
    </table>
   	
	
<!-- 	<p><a class="btn btn-primary btn-lg btn-block" href='index.php' role="button">Inicio</a></p> -->

{% endblock %}
